/* CSS rule to target all elements with id starting with 'AREA' */
.worldMap {
  [id^="AREA"] {
    fill: #56c256;
    stroke: #4d4f5b;
    stroke-width: 0.5px;
  }

  [id^="AREA"]:hover {
    fill: aqua;
    border: black solid 1px;
  }

  rect {
    display: none
  }

  //.scroll-container {
  //  width: 100%; /* Adjust the width to fit the view */
  //  height: 100px;
  //  overflow: hidden; /* Hide the scrollbar */
  //  cursor: grab; /* Cursor style when not dragging */
  //  white-space: nowrap;
  //}
  //
  //.scroll-container.active {
  //  cursor: grabbing; /* Cursor style when dragging */
  //}
  //
  //svg {
  //  display: inline-block;
  //  pointer-events: none; /* Prevent interference with dragging */
  //}
}